[licenses]
version = 2
allow = [
  "MIT",
  "Apache-2.0",
  "Unicode-DFS-2016",
  "Unicode-3.0",
  "ISC",
  "BSD-2-Clause",
  "BSD-3-Clause",
  "MPL-2.0",
  "OpenSSL",
]

[[licenses.clarify]]
name = "ring"
# SPDX considers OpenSSL to encompass both the OpenSSL and SSLeay licenses
# https://spdx.org/licenses/OpenSSL.html
# ISC - Both BoringSSL and ring use this for their new files
# MIT - "Files in third_party/ have their own licenses, as described therein. The MIT
# license, for third_party/fiat, which, unlike other third_party directories, is
# compiled into non-test libraries, is included below."
# OpenSSL - Obviously
expression = "ISC AND MIT AND OpenSSL"
license-files = [{ path = "LICENSE", hash = 0xbd0eed23 }]

[advisories]
version = 2
yanked = "deny"
# RUSTSEC-2024-0384 is an unmaintained wasm-only dependency and we currently don't support wasm
ignore = ["RUSTSEC-2024-0384"]

[bans]
multiple-versions = "allow"
